$background-color: white;
$font-color: black;

$sidebar-width: 300px;

body {
    font-family: sans-serif;
    color: $font-color;
    margin: 0;
    padding: 0;
}

.listing-app {
    .listing-content {
        display: grid;
        // grid-template-columns: min(50px, 1fr) min($sidebar-width, 2fr) 3fr min($sidebar-width, 2fr) min(50px, 1fr);
        grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 5fr 2fr 1fr;
        max-height: 100vh;
        @media (max-width: 600px){
            grid-template-rows: 1fr 2fr 6fr 1fr 1fr;
            .toggle-map {
                grid-row: 5 / span 1;
                grid-column: 4 / span 2;
            }
            .toggle-filters {
                grid-row: 5 / span 1;
                grid-column: 1 / span 2;
            }
            .filters {
                grid-row: 3 / span 2;
                grid-column: 1 / span 4;
                z-index: 101;
            }
            .postcode-lookup-form {
                grid-row: 1 / span 1;
                grid-column: 1 / span 5;
                input {
                    font-size: 16px;
                }
            }
            .directory-container.sidebar {
                display: none;
            }
        }
        @media (min-width: 600px){
            .toggle-filters {
                grid-row: 1 / span 1;
                grid-column: 1 / span 1;
                z-index: 100;
            }
            .filters {
                grid-row: 2 / span 1;
                grid-column: 1 / span 2;
                z-index: 101;
            }
            .postcode-lookup-form {
                grid-row: 1 / span 1;
                grid-column: 2 / span 3;
            }
            .toggle-map {
                grid-row: 1 / span 1;
                grid-column: 5 / span 1;
                &.mapView {
                    grid-row: 5 / span 1;
                    grid-column: 1 / span 1;
                }
            }
            
        }  
        .directory-container {
            grid-row: 2 / span 4;
            grid-column: 1 / span 5;
            overflow-y: scroll;
            z-index: 2;
            &.sidebar {
                grid-column: 4 / span 2;
                grid-row: 1 / span 5;
            }
        }
        .map-section {
            grid-column: 1 / span 5;
            grid-row: 1 / span 5;
            z-index: 1;
            &.hide {
                z-index: -1;
                visibility: hidden;
            }
        }      
    }
    .filters {
        &.show{
            display: block;
        }
        &:not(.show){
            display: none;
        }
        margin: 8px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(grey, 0.5);
        background-color: white;
        
        .filter {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
        }
    }
    .toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        input {
            display: none;
        }
        label {
            max-width: 50px;
            width: 100%;
        }
    }

    .map {
        height: 100vh;
        path.leaflet-interactive:hover {
            fill-opacity: 0.5;
        }
    }
}

.directory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;

    .group-link {
        text-decoration: none;
        color: $font-color;
    }
    
    .group {
        background-color: $background-color;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(grey, 0.5);
        overflow-x: hidden;
        &:hover {
            box-shadow: 0 0 9px 0 rgba(grey, 0.5);
        }
        transition: 300ms;
        height: 100%;
        .image {
            height: 120px;
            width: 100%;
            background: rgba(white, 0) no-repeat center center;
            background-size: cover;
        }
        .info {
            padding: 10px;
        }
    }
}

.postcode-directory {
    h1 {
        text-align: center;
    }
}

.postcode-lookup-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    input {
        font-size: 24px;
        padding: 15px;
        font-family: monospace;
        text-transform: uppercase;
        border: 1px solid $font-color;
        border-radius: 0;
        text-align: center;
        &:focus {
            box-shadow: 0 0 5px rgba(grey, 0.8);
            outline: none;
        }
        
    }
}